{% include 'navvbar.html' %}


<html lang="en">
<head>
  <title>Products</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>List Of Products :</h2>
  <p>La disponibilité des produits chez les Revendeurs :</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
    </thead>

                  {% for Products in AllProducts %}

    <tbody>

      <tr>
        <td>{{Products.name}}</td>


        <td>{{Products.price}}</td>


        <td>{{Products.stock}}</td>

      </tr>

    </tbody>

                  {% endfor %}

  </table>
</div>

</body>


</html>
