{% include 'navvbar.html' %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
  <title>Clients</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>List Of Clients :</h2>
  <p>La liste des clients :</p>

           <div class="row">
            <div class="col">
              <div class="card card-body">
                <form class="form-inline my-2 my-lg-0" method="get">

                {{myFilter.form | crispy}}

                <button class="btn btn-primary" type = "submit"> Search</button>
                </form>
              </div>

            </div>

          </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Région</th>
        <th>Nom</th>
        <th>Type</th>
        <th>Wilaya</th>
        <th>Distributeur</th>



      </tr>
    </thead>

                  {% for Clients in page_obj %}

    <tbody>

      <tr>
        <td>{{Clients.région}}</td>


        <td>{{Clients.nom}}</td>

        <td>{{Clients.type}}</td>


        <td>{{Clients.wilaya}}</td>


        <td>{{Clients.distributeur}}</td>




      </tr>

    </tbody>

        {% endfor %}

  </table>

                       <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; première-</a>
            <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} Sur {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">suivante-</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">dèrniere &raquo;</a>
        {% endif %}
    </span>
</div>



</div>

</body>


</html>