.:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
background: #000000;
background: linear-gradient(to right, #2e006c, #1b019b);
    display: block;



}
h1,h2{
    padding-top: 40px;
    padding-bottom: 0px;
color: white;

}
.col-12{
color : white;
}
.card-body{
color : white;
}
